<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAuthenticationManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmailManager">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISessionManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMatchmakingManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9050/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserManager" contract="UserService.IUserManager"
                name="NetTcpBinding_IUserManager">
                <identity>
                    <userPrincipalName value="ASUS-292-AHY\abelh" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9054/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEmailManager" contract="EmailService.IEmailManager"
                name="NetTcpBinding_IEmailManager">
                <identity>
                    <userPrincipalName value="ASUS-292-AHY\abelh" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9048/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAuthenticationManager"
                contract="AuthenticationService.IAuthenticationManager" name="NetTcpBinding_IAuthenticationManager">
                <identity>
                    <userPrincipalName value="ASUS-292-AHY\abelh" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9056/SessionService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISessionManager" contract="SessionService.ISessionManager"
                name="NetTcpBinding_ISessionManager" />
            <endpoint address="net.tcp://localhost:9052/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFriendManager" contract="FriendService.IFriendManager"
                name="NetTcpBinding_IFriendManager">
                <identity>
                    <userPrincipalName value="ASUS-292-AHY\abelh" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9059/MatchmakingService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchmakingManager"
                contract="MatchmakingService.IMatchmakingManager" name="NetTcpBinding_IMatchmakingManager" />
        </client>
    </system.serviceModel>
</configuration>