<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAuthenticationManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IEmailManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFriendManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMatchmakingManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISessionManager">
                    <reliableSession inactivityTimeout="02:00:00" enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IUserManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILobbyManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IModerationManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMatchManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IScoreboardManager">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9052/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFriendManager" contract="FriendService.IFriendManager"
                name="NetTcpBinding_IFriendManager" />
            <endpoint address="net.tcp://localhost:9059/MatchmakingService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchmakingManager"
                contract="MatchmakingService.IMatchmakingManager" name="NetTcpBinding_IMatchmakingManager" />
            <endpoint address="net.tcp://localhost:9063/LobbyService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ILobbyManager" contract="LobbyService.ILobbyManager"
                name="NetTcpBinding_ILobbyManager" />
            <endpoint address="net.tcp://localhost:9048/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAuthenticationManager"
                contract="AuthenticationService.IAuthenticationManager" name="NetTcpBinding_IAuthenticationManager" />
            <endpoint address="net.tcp://localhost:9066/ModerationService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IModerationManager"
                contract="ModerationService.IModerationManager" name="NetTcpBinding_IModerationManager" />
            <endpoint address="net.tcp://localhost:9069/MatchService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMatchManager" contract="MatchService.IMatchManager"
                name="NetTcpBinding_IMatchManager" />
            <endpoint address="net.tcp://localhost:9054/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEmailManager" contract="EmailService.IEmailManager"
                name="NetTcpBinding_IEmailManager" />
            <endpoint address="net.tcp://localhost:9050/Services" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserManager" contract="UserService.IUserManager"
                name="NetTcpBinding_IUserManager" />
            <endpoint address="net.tcp://localhost:9072/ScoreboardService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IScoreboardManager"
                contract="ScoreboardService.IScoreboardManager" name="NetTcpBinding_IScoreboardManager" />
            <endpoint address="net.tcp://localhost:9056/SessionService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISessionManager" contract="SessionService.ISessionManager"
                name="NetTcpBinding_ISessionManager" />
        </client>
    </system.serviceModel>
</configuration>